In [30]:
# Dependencies
import pandas as pd

In [31]:
# ask user to enter directory path for gene file 
gene_file_path_input = input("enter path of working directory: ") # ask user ot enter gene file path

In [32]:
# open and read gene file
gene_file = open(gene_file_path_input, "r") 
gene_file = gene_file.readlines()
gene_file

['Smell\tSmell-1\tchr1\t100\t1000\t+\t(100-150,400-500,900-1000)\n',
 'Smell\tSmell-2\tchr1\t100\t1000\t+\t(100-150,900-1000)\n',
 'Size\tSize-1\tchr1\t1500\t2000\t+\t(1500-1750,1800-1850,\t1900-2000)\n',
 'Size\tSize-2\tchr1\t1500\t2000\t+\t(1500-2000)\n',
 'Color\tColor-1\tchr2\t3400\t4200\t-\t(3400-3600,4000-4200)\n',
 'Color\tColor-2\tchr2\t3400\t4200\t-\t(3400-3550,3800-3900,4000-4200)\n',
 'Color\tColor-3\tchr2\t3400\t4200\t-\t(3400-3600,3800-3900,4100-4200)\n',
 'appl4\tappl4-1\tchr3\t50\t800\t+\t(50-400,700-80)\n',
 'appl5\tappl5-1\tchr3\t1100\t1500\t+\t(1100-1200,1450-1500)\n',
 'Taste\tTaste-1\tchr3\t2000\t2600\t-\t(2000-2300,2500-2600)\n',
 'Taste\tTaste-2\tchr3\t2000\t2600\t-\t(2000-2050,2200-2300,2500-2600)\n',
 'Shape\tShape-1\tchr4\t3100\t3700\t-\t(3100-3500,3600-3700)\n',
 'Shape\tShape-2\tchr4\t3100\t3700\t-\t(3100-3200,3400-3500,3600-3700)\n',
 'appl8\tappl8-1\tchr4\t4500\t4800\t+\t(4500-4800)\n',
 'appl9\tappl9-1\tchr5\t200\t1000\t-\t(200-450,550-650,800-1000)\n',
 'appl10\tappl10-1\tchr5\t1100\t1700\t+\t(1100-1400,1500-1700)\n']

In [33]:
# clean gene file and convert to panda DataFrame
gene_clean_data = [i.replace (",\t", ",").strip('\n').split('\t') for i in gene_file]
col_names = ['gene', 'variant', 'chr_num', 'gene_start', 'gene_end','strand', 'gene_location']
df = pd.DataFrame(gene_clean_data, columns = col_names)
df

,gene,variant,chr_num,gene_start,gene_end,strand,gene_location
0,Smell,Smell-1,chr1,100,1000,+,"(100-150,400-500,900-1000)"
1,Smell,Smell-2,chr1,100,1000,+,"(100-150,900-1000)"
2,Size,Size-1,chr1,1500,2000,+,"(1500-1750,1800-1850,1900-2000)"
3,Size,Size-2,chr1,1500,2000,+,(1500-2000)
4,Color,Color-1,chr2,3400,4200,-,"(3400-3600,4000-4200)"
5,Color,Color-2,chr2,3400,4200,-,"(3400-3550,3800-3900,4000-4200)"
6,Color,Color-3,chr2,3400,4200,-,"(3400-3600,3800-3900,4100-4200)"
7,appl4,appl4-1,chr3,50,800,+,"(50-400,700-80)"
8,appl5,appl5-1,chr3,1100,1500,+,"(1100-1200,1450-1500)"
9,Taste,Taste-1,chr3,2000,2600,-,"(2000-2300,2500-2600)"
10,Taste,Taste-2,chr3,2000,2600,-,"(2000-2050,2200-2300,2500-2600)"
11,Shape,Shape-1,chr4,3100,3700,-,"(3100-3500,3600-3700)"
12,Shape,Shape-2,chr4,3100,3700,-,"(3100-3200,3400-3500,3600-3700)"
13,appl8,appl8-1,chr4,4500,4800,+,(4500-4800)
14,appl9,appl9-1,chr5,200,1000,-,"(200-450,550-650,800-1000)"
15,appl10,appl10-1,chr5,1100,1700,+,"(1100-1400,1500-1700)"

In [34]:
# find uniqe genes
unique_genes = df['gene'].unique()
unique_genes

array(['Smell', 'Size', 'Color', 'appl4', 'appl5', 'Taste', 'Shape',
       'appl8', 'appl9', 'appl10'], dtype=object)

In [35]:
# find variant per gene
gene_variant_count = pd.DataFrame(df.groupby("gene")["variant"].count())
gene_variant_count

        variant
gene
Color         3
Shape         2
Size          2
Smell         2
Taste         2
appl10        1
appl4         1
appl5         1
appl8         1
appl9         1

In [36]:
# find genes with single variant
single_variant_genes= gene_variant_count[(gene_variant_count == 1).any(axis=1)]
single_variant_genes

        variant
gene
appl10        1
appl4         1
appl5         1
appl8         1
appl9         1

In [37]:
# find genes with multiple variants
multiple_variants_genes= gene_variant_count[(gene_variant_count != 1).any(axis=1)]
multiple_variants_genes

       variant
gene
Color        3
Shape        2
Size         2
Smell        2
Taste        2

In [38]:
# genes per ‘+’ and ‘-’ strand
strand_gene_count = pd.DataFrame(df.groupby("strand")["gene"].count())
strand_gene_count

        gene
strand
+          8
-          8

In [39]:
# find genes per chromosome
chromosome_gene_count = pd.DataFrame(df.groupby("chr_num")["gene"].count())
chromosome_gene_count

         gene
chr_num
chr1        4
chr2        3
chr3        4
chr4        3
chr5        2

In [40]:
# find variant per chromosome
chromosome_variant_count = pd.DataFrame(df.groupby("chr_num")["variant"].count())
chromosome_variant_count

         variant
chr_num
chr1           4
chr2           3
chr3           4
chr4           3
chr5           2